        <!-- Side Header Start -->
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <!-- Side Header Inner Start -->
            <div class="side-header-inner custom-scroll">

                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li><a href="/dashboard/index"><i class="ti-home"></i> <span>Dashboard</span></a></li>
                        <li class="has-sub-menu"><a href="javascript:void(0);"><i class="fa fa-bullhorn"></i> <span>Posts</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/dashboard/all-posts"><span>All Posts</span></a></li>
                                <li><a href="/dashboard/posts/add-new"><span>Add New Article</span></a></li>
                                <li><a href="/dashboard/posts/add-new-audio"><span>Add New Audio</span></a></li>
                                <li><a href="/dashboard/posts/add-new-video"><span>Add New Video</span></a></li>
                                <li><a href="/dashboard/posts/tags"><span>Tags</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="javascript:void(0);"><i class="fa fa-list-alt"></i> <span>Categories</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/dashboard/posts/categories"><span>Categories</span></a></li>
                                <li><a href="/dashboard/posts/sub-categories"><span>Subcategories</span></a></li>
                            </ul>
                        </li>
                        <!-- <li class="has-sub-menu"><a href="javascript:void(0);"><i class="ti-announcement"></i> <span>Announcements</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/dashboard/announcements"><span>All Announcements</span></a></li>
                                <li><a href="/dashboard/announcements/add-new"><span>Add New</span></a></li>
                            </ul>
                        </li> -->
                        <li class="has-sub-menu"><a href="javascript:void(0);"><i class="fa fa-envelope-open-o"></i> <span>Newsletter</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/dashboard/newsletter"><span>Subscribers</span></a></li>
                                <li><a href="/dashboard/newsletter/compose"><span>Send Email to Subscribers</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="javascript:void(0);"><i class="fa fa fa-folder-open-o"></i> <span>Media</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/dashboard/library"><span>Library</span></a></li>
                                <li><a href="/dashboard/media/add-new"><span>Add New</span></a></li>
                            </ul>
                        </li>
                        <li class="has-sub-menu"><a href="javascript:void(0);"><i class="fa fa-file-o"></i> <span>Pages</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/dashboard/pages"><span>All Pages</span></a></li>
                                <li><a href="/dashboard/pages/add-new"><span>Add New</span></a></li>
                            </ul>
                        </li>
                        <li><a href="/dashboard/comments"><i class="ti-comment-alt"></i> <span>Comments</span></a></li>
                        <li><a href="/dashboard/contacts"><i class="fa fa-paper-plane-o"></i> <span>Contacts</span></a></li>
                        <li><a href="/dashboard/menu"><i class="fa fa-caret-square-o-down"></i> <span>Menu</span></a></li>
                        <li><a href="/dashboard/ad-spaces"><i class="fa fa-usd"></i> <span>Ad Spaces</span></a></li>
                        <li class="has-sub-menu"><a href="javascript:void(0);"><i class="zmdi zmdi-accounts-outline"></i> <span>Users</span></a>
                            <ul class="side-header-sub-menu">
                                    <li><a href="/dashboard/administrators"><span>Administrators</span></a></li>
                                <li><a href="/dashboard/users"><span>All Users</span></a></li>
                                <li><a href="/dashboard/users/add-new"><span>Add New</span></a></li>
                            </ul>
                        </li>
                        <li><a href="/profile"><i class="ti-user"></i> <span>My Profile</span></a></li>
                        <li><a href="/dashboard/social-login"><i class="ti-share"></i> <span>Social Login Configuration</span></a></li>
                        <li><a href="/dashboard/preferences"><i class="fa fa-check-square-o"></i> <span>Preferences</span></a></li>
                        <li><a href="/dashboard/visual"><i class="fa fa-paint-brush"></i> <span>Visual Settings</span></a></li>
                        <li class="has-sub-menu"><a href="javascript:void(0);"><i class="ti-settings"></i> <span>Settings</span></a>
                            <ul class="side-header-sub-menu">
                                <li><a href="/dashboard/settings/general"><span>General Settings</span></a></li>
                                <li><a href="/dashboard/settings/email"><span>Email Settings</span></a></li>
                                <li><a href="/dashboard/settings/media"><span>Media Settings</span></a></li>
                            </ul>
                        </li>
                        <li><a href="/log-out"><i class="fa fa-sign-out"></i> <span>Log Out</span></a></li>

                    </ul>
                </nav>

            </div><!-- Side Header Inner End -->
        </div><!-- Side Header End -->