<!-- Side Header Start -->
<div class="side-header show">
  <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
  <!-- Side Header Inner Start -->
  <div class="side-header-inner custom-scroll">
    <nav class="side-header-menu" id="side-header-menu">
      <ul>
        <li>
          <a href="/user/dashboard"
            ><i class="ti-home"></i> <span>Dashboard</span></a
          >
        </li>
        <li class="has-sub-menu">
          <a href="javascript:void(0);"
            ><i class="fa fa-file-o"></i> <span>Add Post</span></a
          >
          <ul class="side-header-sub-menu">
            <li>
              <a href="/user/posts/add-new"><span>Add Article</span></a>
            </li>
            <li>
              <a href="/user/posts/add-new-audio"><span>Add Audio</span></a>
            </li>
            <li>
              <a href="/user/posts/add-new-video"><span>Add Video</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/user/all-posts"
            ><i class="fa fa-bullhorn"></i> <span>All Posts</span></a
          >
        </li>
        <li>
          <a href="/user/pending-posts"
            ><i class="fa fa-low-vision"></i> <span>Pending Posts</span></a
          >
        </li>
        <li>
          <a href="/user/followers"
            ><i class="fa fa-users"></i> <span>Followers</span></a
          >
        </li>
        <li>
          <a href="/user/following"
            ><i class="fa fa-user-circle-o"></i> <span>Following</span></a
          >
        </li>
        <li>
          <a href="/user/bookmarks"
            ><i class="fa fa-book"></i> <span>Bookmarks</span></a
          >
        </li>
        <li>
          <a href="/user/profile"
            ><i class="ti-user"></i> <span>My Profile</span></a
          >
        </li>
        <li>
          <a href="/log-out"
            ><i class="fa fa-sign-out"></i> <span>Log Out</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
  <!-- Side Header Inner End -->
</div>
<!-- Side Header End -->
